html body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    width: 1115px;
    margin: auto;
    position: relative;
}
#quick-contact{
    height: 40px;
    background-color: rgb(197, 206, 206);
}
.quick-left a{
    text-decoration: none;
    padding-top: 12px;
    padding-right: 10px;
}
.quick-right a{
    padding-left: 20px;
    text-decoration: none;
}
#header{
    height: 70px;
    background-color: rgb(238, 238, 255);
    
    
}
nav a{
    text-decoration: none;
    padding-right: 31px;
}
nav ul,li{
    display: inline;
}
.submenu{
    display: none;
    position: absolute;
}
.drop:hover > div{
    display: block;   
}
.menubar ul .drop:hover .submenu{
    display: block;
}
#banner{
    height: 459px;
    margin-top: 0px;
}
.bg-img{
    
    width: 100%;
    height:459px;
    background-image: url(../computer-technician_1500x680.png);
    background-position:center ;
    background-size: contain;

    position: absolute;
}
.bg-img > div {
    background: rgba(0 0 0/0.4);
    width: 100%;
    height: 100%;
}
#banner h1{
    font-weight:100;
}
#banner button{
    height: 40px;
    width: 144px;
    
    color: white;
    background-color: rgb(0, 203, 253);
    border-radius: 5px;
    border: none;
}
#about-as{
    height: 574px;
    
    margin-top: 60px;
    

}
.about-whole{
    display: flex;
    box-shadow: 0 0 10px 0;
}
.about-img{
    width: 560px;
    
}
.about-cont{
    width:582px ;
    
}
.font-logo{
    width: 72px;
    height: 72px;
    background-color: rgb(204, 204, 255);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 50px;
    margin-bottom: 64px;
    border-radius: 5px;
}
.font-logo2{
    width: 72px;
    height: 72px;
    background-color: rgb(204, 204, 255);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 50px;
    border-radius: 5px;
    
}
.icofont-finger-print,.icofont-gift{
    font-size: 32px;
    
}
.iconabo:hover .font-logo{
    background-color: rgb(115, 115, 216)
}
.iconabo1:hover .font-logo2{
    background-color: rgb(115, 115, 216)
}
/*features*/
#features{
    height: 538px;
    margin-top: 60px;
    
}
.features-whole{   
}

.feau-first > div{
    width: 33.33%;
    border: solid 1px;
    border-color: #ccc;
    height: 257px;
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.feau-first .feau01{
    border-left: none;  
}
.feau-second .feau06{
    border-right: none;
}
.feau-second > div{
    width: 33.33%;
    border: solid 1px;
    border-color: #ccc;
    height: 278px;
    border-left: none;
    border-bottom: none;
}
.feau01,.feau02,.feau03{
    padding-left: 40px;
}
.feau04,.feau05,.feau06{
    padding-left: 40px;
}
/*boxes*/
#boxes{
    height: 278px;
    background-color: rgb(226, 247, 255);
}
.four-box{
    padding-top: 59px;
     display: flex;
}
.four-box > div {
    width: 25%;
    height: 161px;
    box-shadow: 0 0 5px 0;
    border-radius: 5px;
    background-color: white;
}
.four-box .box1,.box2,.box3{
    margin-right: 22px;
}
.four-box h1{
    font-size: 40px;
    font-weight: 900;
    
}
/*.four-box h1,p{
    padding-left:84px ; 
}*/
.four-box p{
    margin-top: -5%;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(58, 53, 53);
}
.box1,.box2,.box3,.box4{
    text-align: center;
    justify-content: center;
}
/*services*/
#services{
    height: 699px;
    background-color: aqua;
}
.header-service{
    height: 147px;
    background-color: blue
}
.firstserv .serv1,.serv2,.serv3{
    width:33.32% ;
    height: 259px;
    border: solid 1px;
}
.secondserv .serv4,.serv5,.serv6{
    width:33.33% ;
    height: 259px;
    border: solid 1px;
}


    

    
