html body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1115px;
    margin: auto;
    position: relative;
}
#quick-contact{
    height: 40px;
    background-color: rgb(255, 255, 255);
    
}
.quick-left a{
    text-decoration: none;
    padding-top: 12px;
    padding-right: 10px;
}
.quick-right a{
    padding-left: 20px;
    text-decoration: none;
}
/*header*/
#header{
    height: 70px;
    background-color: rgb(255, 255, 255);
    
    
}
nav a{
    text-decoration: none;
    padding-right: 31px;
}
nav ul,li{
    display: inline;
}
.submenu{
    display: none;
    position: absolute;
}
.drop:hover > div{
    display: block;   
}
.menubar ul .drop:hover .submenu{
    display: block;
}
/*banner*/
#banner{
    height: 459px;
    margin-top: 0px;
}
.bg-img{
    
    width: 100%;
    height:459px;
    background-image: url(../computer-technician_1500x680.png);
    background-position:center ;
    background-size: contain;

    position: absolute;
}
.bg-img > div {
    background: rgba(0 0 0/0.4);
    width: 100%;
    height: 100%;
}
#banner h1{
    font-weight:100;
}
#banner button{
    height: 40px;
    width: 144px;
    
    color: white;
    background-color: rgb(0, 203, 253);
    border-radius: 5px;
    border: none;
}
#about-as{
    height: 574px;
    
    margin-top: 60px;
    

}
.about-whole{
    display: flex;
    box-shadow: 0 0 5px 0;
}
.about-img{
    width: 560px;
    
}
.about-cont{
    width:582px ;
    
}
.font-logo{
    width: 72px;
    height: 72px;
    background-color: rgb(204, 204, 255);
    transition: .5s all 0s;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 50px;
    margin-bottom: 64px;
    border-radius: 5px;
    
}
.font-logo2{
    width: 72px;
    height: 72px;
    background-color: rgb(204, 204, 255);
    transition: .5s all 0s;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 50px;
    border-radius: 5px;
    
    
    
}
.icofont-finger-print,.icofont-gift{
    font-size: 32px;
    
}
.iconabo:hover .font-logo{
    background-color: rgb(115, 115, 216);
    transition: .5s all 0s;
    
}
.iconabo,.iconabo1{
    transition: .5s all 0s;
}
.iconabo1:hover .font-logo2{
    background-color: rgb(115, 115, 216);
    transition: .5s all 0s;
}
/*features*/
#features{
    height: 538px;
    margin-top: 60px;
    
}
.features-whole{   
}

.feau-first > div{
    width: 33.33%;
    border: solid 1px;
    border-color: #ccc;
    height: 257px;
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.feau-first .feau01{
    border-left: none;  
}
.feau-second .feau06{
    border-right: none;
}
.feau-second > div{
    width: 33.33%;
    border: solid 1px;
    border-color: #ccc;
    height: 278px;
    border-left: none;
    border-bottom: none;
}
.feau01,.feau02,.feau03{
    padding-left: 40px;
}
.feau04,.feau05,.feau06{
    padding-left: 40px;
}
/*boxes*/
#boxes{
    height: 278px;
    background-color: rgb(226, 247, 255);
}
.four-box{
    padding-top: 59px;
     display: flex;
}
.four-box > div {
    width: 25%;
    height: 161px;
    box-shadow: 0 0 5px 0;
    border-radius: 5px;
    background-color: white;
}
.four-box .box1,.box2,.box3{
    margin-right: 22px;
}
.four-box h1{
    font-size: 40px;
    font-weight: 900;
    
}
/*.four-box h1,p{
    padding-left:84px ; 
}*/
.four-box p{
    margin-top: -5%;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(58, 53, 53);
}
.box1,.box2,.box3,.box4{
    text-align: center;
    justify-content: center;
}
/*services*/
#services{
    height: 699px;
}
.header-service{
    height: 147px;
}
.firstserv .serv1,.serv2,.serv3{
    width:33.32% ;
    height: 259px;
    
}
.secondserv .serv4,.serv5,.serv6{
    width:33.33% ;
    height: 259px;
    
}
.serv1 .mess-logo{
    width: 82px;
    height: 82px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 143px;
    border-radius: 50%;
    box-shadow: 0 0 20px -10px blue;
    transition: 0.5s;
}
.horizontal-line{
    width: 51px;
    height: 2px;
    background-color: rgb(21, 130, 194);
    margin-left: 157px;
}
.serv2 .chart-logo{
    width: 82px;
    height: 82px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 143px;
    border-radius: 50%;
    box-shadow: 0 0 20px -10px blue;
    transition: 0.5s;
}
.serv3 .global-logo{
    width: 82px;
    height: 82px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 143px;
    border-radius: 50%;
    box-shadow: 0 0 20px -10px blue;
    transition: 0.5s;
}
.serv4 .hotspot-logo{
    width: 82px;
    height: 82px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 143px;
    border-radius: 50%;
    box-shadow: 0 0 20px -10px blue;
    transition: 0.5s;
}
.serv5 .sun-logo{
    width: 82px;
    height: 82px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 143px;
    border-radius: 50%;
    box-shadow: 0 0 20px -10px blue;
    transition: 0.5s;
}
.serv6 .calendor-logo{
    width: 82px;
    height: 82px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 143px;
    border-radius: 50%;
    box-shadow: 0 0 20px -10px blue;
    transition: 0.5s;
}
.icofont-ui-messaging{
    font-size: 38px;
    color: rgb(18, 182, 223);
}
.icofont-chart-flow-1{
    font-size: 38px;
    color: rgb(18, 182, 223);
}
.icofont-globe{
    font-size: 38px;
    color: rgb(18, 182, 223);
}
.icofont-ui-wifi{
    font-size: 38px;
    color: rgb(18, 182, 223);
}
.icofont-sun{
    font-size: 38px;
    color: rgb(18, 182, 223);
}
.icofont-ui-calendar{
    font-size: 38px;
    color: rgb(18, 182, 223);
}
.serv1,.serv2,.serv3,.serv4,.serv5,.serv6{
    text-align: center;
}
#services h2{
    color: rgb(63, 57, 57);
}
#services p{
    color: rgb(110, 98, 98);
}
.serv1:hover .mess-logo{
    box-shadow: 0 0 40px -10px blue;
    transition: 0.5s;
}
.serv2:hover .chart-logo{
    box-shadow: 0 0 40px -10px blue;
    transition: 0.5s;
}
.serv3:hover .global-logo {
    box-shadow: 0 0 40px -10px blue;
    transition: 0.5s;
}
.serv4:hover .hotspot-logo {
    box-shadow: 0 0 40px -10px blue;
    transition: 0.5s;
}
.serv5:hover .sun-logo{
    box-shadow: 0 0 40px -10px blue;
    transition: 0.5s;
}
.serv6:hover .calendor-logo {
    box-shadow: 0 0 40px -10px blue;
    transition: 0.5s;
}
/*PORTFOLIO*/
#our-portfolio{
    height: 1227px;
    background-color: #f5f9fc;
}
.header-port{
    height: 276px;
}
.four-button button{
    
    transition: 0.5s all 0s;
}
.four-button button:hover{
    background-color: #428bca;
    transition: 0.5s all 0s;
}
.portfolio-images{
    display: flex;
}

.port-img1,.port-img2{
    margin-right: 30px;
}

.port-images2,.port-images3{
    display: flex;
}
.port-img4,.port-img5,.port-img7,.port-img8{
    margin-right: 25px;
    margin-top: 30px;
}
.port-img6,.port-img9{
    margin-top: 30px;
}
.port-img4,.port-img5,.port-img6,.port-img7,.port-img8,.port-img9,.port-img1,.port-img2,.port-img3{
    position: relative;
    overflow: hidden;
    transition: .5s all 0s;
    border-radius: 5px;
    box-shadow: 0 0 2px 0px;
}
.portfolio-images > div{
    width: 33.33%;
    height: 267px;  
}
.port-images2 > div{
    width: 33.33%;
    height: 267px;  
}
.port-images3 > div{
    width: 33.33%;
    height: 267px;  
}
.port-img1 img{
    width: 100%;
    height: 267px;
    display: block;
    transition: .5s all 0s;
}
.port-img2 img{
    width: 100%;
    height: 267px;
    display: block;
    transition: .5s all 0s;
}
.port-img3 img{
    width: 100%;
    height: 267px;
    display: block;
    transition: .5s all 0s;
}
.port-img4 img{
    width: 100%;
    height: 267px;
    display: block;
    transition: .5s all 0s;
}
.port-img5 img{
    width: 100%;
    height: 267px;
    display: block;
    transition: .5s all 0s;
}
.port-img6 img{
    width: 100%;
    height: 267px;
    display: block;
    transition: .5s all 0s;
}
.port-img7 img{
    width: 100%;
    height: 267px;
    display: block;
    transition: .5s all 0s;
}
.port-img8 img{
    width: 100%;
    height: 267px;
    display: block;
    transition: .5s all 0s;
}
.port-img9 img{
    width: 100%;
    height: 267px;
    display: block;
    transition: .5s all 0s;
}
.portimg-back01{
    background: rgb(0 0 0 /.4);
    width: 100%;
    height: 267px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s all 0s;
    
}
.portimg-back02{
    background: rgb(0 0 0 /.4);
    width: 100%;
    height: 267px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s all 0s;
    
}
.portimg-back03{
    background: rgb(0 0 0 /.4);
    width: 100%;
    height: 267px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s all 0s;
    
}
.portimg-back{
    background: rgb(0 0 0 /.4);
    width: 100%;
    height: 267px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s all 0s;
    
}
.portimg-back1{
    background: rgb(0 0 0 /.4);
    width: 100%;
    height: 267px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s all 0s;
    
}
.portimg-back2{
    background: rgb(0 0 0 /.4);
    width: 100%;
    height: 267px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s all 0s;
    
}
.portimg-back3{
    background: rgb(0 0 0 /.4);
    width: 100%;
    height: 267px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s all 0s;
    
}
.portimg-back4{
    background: rgb(0 0 0 /.4);
    width: 100%;
    height: 267px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s all 0s;
    
}
.portimg-back5{
    background: rgb(0 0 0 /.4);
    width: 100%;
    height: 267px;
    text-align: center;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s all 0s;
    
}
.portimg-content01{
    margin-top: 70px;
    color: aliceblue;
    transform: translateY(-20px);
    transition: .5s;
    
}
.portimg-content02{
    margin-top: 70px;
    color: aliceblue;
    transform: translateY(-20px);
    transition: .5s;
    
}
.portimg-content03{
    margin-top: 70px;
    color: aliceblue;
    transform: translateY(-20px);
    transition: .5s;
    
}
.portimg-content{
    margin-top: 70px;
    color: aliceblue;
    transform: translateY(-20px);
    transition: .5s;
    
}
.portimg-content1{
    margin-top: 70px;
    color: aliceblue;
    transform: translateY(-20px);
    transition: .5s;
    
}
.portimg-content2{
    margin-top: 70px;
    color: aliceblue;
    transform: translateY(-20px);
    transition: .5s;   
}
.portimg-content3{
    margin-top: 70px;
    color: aliceblue;
    transform: translateY(-20px);
    transition: .5s;   
}
.portimg-content4{
    margin-top: 70px;
    color: aliceblue;
    transform: translateY(-20px);
    transition: .5s;   
}
.portimg-content5{
    margin-top: 70px;
    color: aliceblue;
    transform: translateY(-20px);
    transition: .5s;   
}

.images2-pin,.images2-pin1,.images2-pin2,.images2-pin3,.images2-pin4,.images2-pin5,.images2-pin6 {   
    display: flex;   
}
.images2-pin a{
    width: 25px;
    height: 25px;
    background-color: #f5f9fc;
    margin-right: 10px;
    line-height: 25px;
    border-radius: 50%;
    text-decoration: none;
}
.images2-pin1 a{
    width: 25px;
    height: 25px;
    background-color: #f5f9fc;
    margin-right: 10px;
    line-height: 25px;
    border-radius: 50%;
    text-decoration: none;
}
.images2-pin2 a{
    width: 25px;
    height: 25px;
    background-color: #f5f9fc;
    margin-right: 10px;
    line-height: 25px;
    border-radius: 50%;
    text-decoration: none;
}
.images2-pin3 a{
    width: 25px;
    height: 25px;
    background-color: #f5f9fc;
    margin-right: 10px;
    line-height: 25px;
    border-radius: 50%;
    text-decoration: none;
}
.images2-pin4 a{
    width: 25px;
    height: 25px;
    background-color: #f5f9fc;
    margin-right: 10px;
    line-height: 25px;
    border-radius: 50%;
    text-decoration: none;
}
.images2-pin5 a{
    width: 25px;
    height: 25px;
    background-color: #f5f9fc;
    margin-right: 10px;
    line-height: 25px;
    border-radius: 50%;
    text-decoration: none;
}
.icofont-safety-pin,.icofont-ui-add{
    font-size: 14px;
    color: #428bca;
}
.port-img1:hover .portimg-back01{
    opacity: 1;
    transition: .5s all 0s;
}
.port-img2:hover .portimg-back02{
    opacity: 1;
    transition: .5s all 0s;
}
.port-img3:hover .portimg-back03{
    opacity: 1;
    transition: .5s all 0s;
}
.port-img4:hover .portimg-back{
    opacity: 1;
    transition: .5s all 0s;
}
.port-img5:hover .portimg-back1{
    opacity: 1;
    transition: .5s all 0s;
}
.port-img6:hover .portimg-back2{
    opacity: 1;
    transition: .5s all 0s;
}
.port-img7:hover .portimg-back3{
    opacity: 1;
    transition: .5s all 0s;
}
.port-img8:hover .portimg-back4{
    opacity: 1;
    transition: .5s all 0s;
}
.port-img9:hover .portimg-back5{
    opacity: 1;
    transition: .5s all 0s;
}
.port-img1:hover .portimg-content01{
    transform: translateY(0px);
}
.port-img2:hover .portimg-content02{
    transform: translateY(0px);
}
.port-img3:hover .portimg-content03{
    transform: translateY(0px);
}
.port-img4:hover .portimg-content{
    transform: translateY(0px);
}
.port-img5:hover .portimg-content1{
    transform: translateY(0px);
}
.port-img6:hover .portimg-content2{
    transform: translateY(0px);
}
.port-img7:hover .portimg-content3{
    transform: translateY(0px);
}
.port-img8:hover .portimg-content4{
    transform: translateY(0px);
}
.port-img9:hover .portimg-content5{
    transform: translateY(0px);
}
.port-img1:hover  img{
    transform: scale(1.1);
    transition: .5s all 0s;
}
.port-img2:hover  img{
    transform: scale(1.1);
    transition: .5s all 0s;
}
.port-img3:hover  img{
    transform: scale(1.1);
    transition: .5s all 0s;
}
.port-img4:hover  img{
    transform: scale(1.1);
    transition: .5s all 0s;
}
.port-img5:hover  img{
    transform: scale(1.1);
    transition: .5s all 0s;
}
.port-img6:hover  img{
    transform: scale(1.1);
    transition: .5s all 0s;
}
.port-img7:hover  img{
    transform: scale(1.1);
    transition: .5s all 0s;
}
.port-img8:hover  img{
    transform: scale(1.1);
    transition: .5s all 0s;
}
.port-img9:hover  img{
    transform: scale(1.1);
    transition: .5s all 0s;
}
.images2-pin a:hover{
    background-color: rgba(0, 84, 163, 0.767);
}
.images2-pin a:hover i{
    color: #ffffff;
}

.images2-pin1 a:hover{
    background-color: aqua;
}
.images2-pin2 a:hover{
    background-color: aqua;
}
.images2-pin3 a:hover{
    background-color: aqua;
}
.images2-pin4 a:hover{
    background-color: aqua;
    color: rgb(255, 0, 0);
}


.images2-pin5 a:hover{
    background-color: aqua;
}
.images2-pin5 i:hover{
    color: antiquewhite;
}
























#trainers{
    height: 545px;
    
    
}
.whole-trainers{
    display: flex;
}

.header-team{
    height: 150px;
    
    text-align: center;
    justify-content: center;
    
}
.header-team  h1{
    padding-top: 50px;
    font-size: 32px;
    color:  #5c768d;
    font-weight:bolder;
    margin-bottom: 20px; 
}
.header-team p{
    font-size: 20px;
    color: rgb(70, 66, 66);
}


.trainers1{
    height: 259px;
    width: 262px;
    border-radius: 5px;
}
.bl-shadow{
    width: 223px;
    height: 130px;
    background: linear-gradient(360deg, rgb(92, 118, 141),
     rgba(92, 118, 141, 0.9),
     rgba(140, 167, 191, 0.8));
     border-radius: 5px;
    
}
.trainers1 img{
    width: 100%;
    height: 259px;
    transition: .5s all 0s;
    transform: scale(1);
}
.social-med a:hover {
    background-color: #002d55;
}
.trainers1:hover .subsup{
     transform: scale(1.1);
     transition: .5s all 0s;
}
  





.trainers2,.trainers3,.trainers4{
    width: 262px;
    height: 259px;
    
    position: relative;
    border-radius: 10px;
}
.niceone{
    width: 100%;
    height: 259px;
    overflow: hidden;
    border-radius: 6px;
}




.walter,.williom-anderson,.amanda{
    width: 262px;
    height: 259px;
    
    transition: .5s all 0s;
    
    
}
.walter img{
    width: 100%;
    height: 259px;
    
}
.williom-anderson img{
    width: 262px;
    height: 259px;
    
}
.amanda img{
    width: 262px;
    height: 259px;
    
}
.blshadow1{
    width: 223px;
    height: 130px;
    background: linear-gradient(360deg, rgb(92, 118, 141),
     rgba(92, 118, 141, 0.9),
     rgba(140, 167, 191, 0.8));
     border-radius: 5px;
     position: absolute;
     top: 68%;
     margin-left: 20px;
}
.blshadow2{
    width: 223px;
    height: 130px;
    background: linear-gradient(360deg, rgb(92, 118, 141),
     rgba(92, 118, 141, 0.9),
     rgba(140, 167, 191, 0.8));
     border-radius: 5px;
     position: absolute;
     top: 68%;
     margin-left: 20px;
}
.blshadow3{
    width: 223px;
    height: 130px;
    background: linear-gradient(360deg, rgb(92, 118, 141),
     rgba(92, 118, 141, 0.9),
     rgba(140, 167, 191, 0.8));
     border-radius: 5px;
     position: absolute;
     top: 68%;
     margin-left: 20px;
}
.blshadow1 h4{
    padding-left: 25%;
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}
.blshadow2 h4{
    padding-left: 25%;
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}
.blshadow3 h4{
    padding-left: 25%;
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
}
.blshadow1 p{
    padding-left: 20%;
    margin-bottom: 10px;
    color: white;
}
.blshadow2 p{
    padding-left: 45%;
    color: white;
    margin-bottom: 10px;
}
.blshadow3 p{
    padding-left: 37%;
    color: white;
    margin-bottom: 10px;
}
.blshadow1 a {
    margin-left: 5px;
    text-decoration: none;
    color: white;
}
.blshadow2 a {
    margin-left: 5px;
    text-decoration: none;
    color: white;
}
.blshadow3 a {
    margin-left: 5px;
    text-decoration: none;
    color: white;
}
.trainers2:hover .walter{
    transform: scale(1.1);
    transition: .5s all 0s;
}
.trainers3:hover .williom-anderson{
    transform: scale(1.1);
    transition: .5s all 0s;
}
.trainers4:hover .amanda{
    transform: scale(1.1);
    transition: .5s all 0s;
}
.trainers1,.trainers2,.trainers3{
    margin-right: 23px;
}
.hoverto-ico a:hover{
    background-color: #002d55;
}










#faq{
    height: 850px;
    background-color: #f5f9fc;
}
.header-faq{
    line-height: 154px;
    text-align: center;   
}
.header-faq h1{
    font-size: 30px;
    color: #5c768d;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.whole-faq{
    display: flex;
}
.whole-faq .leftfaq{
    width: 50%;
    height: 695px;
    
}
.whole-faq .rightfaq{
    width: 50%;
    height: 695px;
    
}
.leftfaq .faq1{
    height: 190px;

}
.leftfaq .faq2{
    height: 190px;
}
.leftfaq .faq3{
    
}
.rightfaq .faq01{
    height: 190px;
}
.rightfaq .faq02{
    height: 190px;
}

.leftfaq h3 {
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1f3548;
    
}
.leftfaq p{
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(48, 64, 90, 0.959);
}
.rightfaq h3 {
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #1f3548;
}
.rightfaq p{
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(48, 64, 90, 0.959);
}




#contact-as{
    height: 814px;
    
}
.head-contas{
    height:148px;
    line-height: 148px;
    text-align: center;
}
.head-contas h1{
    font-size: 30px;
    color: #5c768d;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.box-contact{
   display: flex;
   justify-content: space-between;
}
.box001{
    height: 197px;
    width: 546px;
    text-align: center;
    justify-content: center;   
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px -1px;
    border-radius: 6px;
}
.box002{
    height: 197px;
    width: 262px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px -1px;
    border-radius: 6px;

}
.box003{
    height: 197px;
    width: 262px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    flex-flow: column;
    box-shadow: 0 0 10px -1px;
    border-radius: 6px;

    
}
.box001 .location{
    height: 51px;
    width: 51px;
    background-color: #f5f9fc;
    line-height: 51px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    margin-left: 45%;  
    display: flex;
    border:  2px dotted;
    border-color: #428bca;
}
.box002 .Email{
    height: 51px;
    width: 51px;
    background-color: #f5f9fc;
    line-height: 51px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    margin-left: 41%; 
    display: flex;
    border:  2px dotted;
    border-color: #428bca;
}
.box003 .Call{
    height: 51px;
    width: 51px;
    background-color: #f5f9fc;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    margin-left: 42%;
    display: flex;
    border:  2px dotted;
    border-color: #428bca;
}
.down00 h3{
    font-size: 22px;
    color: #002d55;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.down00 p{
    font-size: 18px;
    color: #5c768d;
}

.form-grp{
    height: 382px;  
    box-sizing: border-box;
    margin-top: 30px;
   background-color: #ffffff; 
   box-shadow: 0 0 10px gray;
   border-radius: 6px;
}
.form-grp form{
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
    
}
.easy123{
    width: 50%;
    
}
.easy1234{
    width: 50%;
    
    

}
.for{
    width: 515px;
    margin-top: 30px;
    margin-left: 16px;
    margin-right: 31px;
    height: 41px;
}
.form2{
    width: 100%;
    padding-left: 16px;
    padding-right: 31px;
    width: 100%;
}
.forr{
    width: 98%;
    padding-right: 30px;
   
    margin-bottom: 30px;
}
.nowf{
    margin-top: 0px;
    margin-bottom: 0px;
}
.nowff{
    margin-top: 15px;
}
 .form-grp form .btttn{
    text-align: center;
    /* justify-content: center; */
    
    
}
.btttn{
    width: 100%;
    height: 70px;
    line-height: 70px;
    
}
.btttn button{
    height: 43px;
    width: 150px;
    border-radius: 5px;
    background-color: #002d55;
    border: none;
    color: white;
}
/*footter*/
#footer{
    height: 452px;
    background-color: #5c768d;
}
.foot-top{
    height: 342px;
    
    display: flex;
}
.foot{
    flex:1 0 0;
}
.foot,.foot4{
    margin-top: 60px;
    
}
.foot1 h3,p{
    margin-bottom: 34px;
}
.aconsi a{
    width: 33px;
    height: 33px;
    margin-right: 10px;
    
    border-radius: 50%;
    line-height: 33px;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    background-color: #768fa6;
    margin-bottom: 60px;  
    transition: .5s;
}

.aconsi{
    display: flex;
}
.foot h3{
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 900;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.foot p{
    margin-bottom: 24px;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.foot ul li a{
    padding-bottom: 15px;
    list-style: none;
    display: flex;
    text-decoration: none;
    color: #ffffff;
}
.foot-top .foot h4{
    font-size: 19px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-weight:bolder
}
.foot ul li i{
    color: #002d55;
}
.foot {
    /* margin-left:-30px ; */
    
}
.foot ul {
    padding-left: 0%;
}
.foot4 h4{
    font-size: 19px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-weight:bolder
}
.foot4 p{
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.foot4 form{
    width: 100%;
    display: flex;
}
.foot4 form input{
    width: 70%;
    height: 39px;
}
.foot4 form button{
    width: 30%;
    height: 45px;
    border: none;
    background-color: #0083fd;
    margin-top: .5px;
    color: #ffffff;
}
.footni a:hover{
    color:#428bca;
    transition: .5s;
}
.foot2 a:hover{
    color: #428bca;
    transition: .5s;
}
.foot1 a:hover{
    background-color: #0083fd;
    color: #073149;
}
.copyright{
    text-align: center;
    justify-content: center;
    /* display: flex; */
    margin-top: 40px;
}
.foot1 a i{
    color: #ffffff;
}
































    




    

    