html body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    width: 1115px;
    margin: auto;
    position: relative;
}
#quick-contact{
    height: 40px;
    background-color: rgb(245, 255, 255);
}
.quick-left a{
    text-decoration: none;
    padding-top: 12px;
    padding-right: 10px;
}
.quick-right a{
    padding-left: 20px;
    text-decoration: none;
}
#header{
    height: 70px;
    background-color: rgb(234, 252, 255);
    
    
}
nav a{
    text-decoration: none;
    padding-right: 31px;
}
nav ul,li{
    display: inline;
}
.submenu{
    display: none;
    position: absolute;
}
.drop:hover > div{
    display: block;   
}
.menubar ul .drop:hover .submenu{
    display: block;
}
#banner{
    height: 459px;
    margin-top: 0px;
}
.bg-img{
    
    width: 100%;
    height:459px;
    background-image: url(../computer-technician_1500x680.png);
    background-position:center ;
    background-size: contain;

    position: absolute;
}
.bg-img > div {
    background: rgba(0 0 0/0.4);
    width: 100%;
    height: 100%;
}
#banner h1{
    font-weight:100;
}
#banner button{
    height: 40px;
    width: 144px;
    
    color: white;
    background-color: rgb(0, 203, 253);
    border-radius: 5px;
    border: none;
}
#about-as{
    height: 574px;
    
    margin-top: 60px;
    

}
.about-whole{
    display: flex;
    box-shadow: 0 0 10px 0;
}
.about-img{
    width: 560px;
    
}
.about-cont{
    width:582px ;
    
}
.font-logo{
    width: 72px;
    height: 72px;
    background-color: rgb(204, 204, 255);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 50px;
    margin-bottom: 64px;
    border-radius: 5px;
}
.font-logo2{
    width: 72px;
    height: 72px;
    background-color: rgb(204, 204, 255);
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 50px;
    border-radius: 5px;
    
}
.icofont-finger-print,.icofont-gift{
    font-size: 32px;
    
}
.iconabo:hover .font-logo{
    background-color: rgb(115, 115, 216)
}
.iconabo1:hover .font-logo2{
    background-color: rgb(115, 115, 216)
}
/*features*/
#features{
    height: 538px;
    margin-top: 60px;
    
}
.features-whole{   
}

.feau-first > div{
    width: 33.33%;
    border: solid 1px;
    border-color: #ccc;
    height: 257px;
    border-top: none;
    border-right: none;
    border-bottom: none;
}
.feau-first .feau01{
    border-left: none;  
}
.feau-second .feau06{
    border-right: none;
}
.feau-second > div{
    width: 33.33%;
    border: solid 1px;
    border-color: #ccc;
    height: 278px;
    border-left: none;
    border-bottom: none;
}
.feau01,.feau02,.feau03{
    padding-left: 40px;
}
.feau04,.feau05,.feau06{
    padding-left: 40px;
}
/*boxes*/
#boxes{
    height: 278px;
    background-color: rgb(226, 247, 255);
}
.four-box{
    padding-top: 59px;
     display: flex;
}
.four-box > div {
    width: 25%;
    height: 161px;
    box-shadow: 0 0 5px 0;
    border-radius: 5px;
    background-color: white;
}
.four-box .box1,.box2,.box3{
    margin-right: 22px;
}
.four-box h1{
    font-size: 40px;
    font-weight: 900;
    
}
/*.four-box h1,p{
    padding-left:84px ; 
}*/
.four-box p{
    margin-top: -5%;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(58, 53, 53);
}
.box1,.box2,.box3,.box4{
    text-align: center;
    justify-content: center;
}
/*services*/
#services{
    height: 699px;
}
.header-service{
    height: 147px;
}
.firstserv .serv1,.serv2,.serv3{
    width:33.32% ;
    height: 259px;
    
}
.secondserv .serv4,.serv5,.serv6{
    width:33.33% ;
    height: 259px;
    
}
.serv1 .mess-logo{
    width: 82px;
    height: 82px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 143px;
    border-radius: 50%;
    box-shadow: 0 0 20px -10px blue;
    transition: 0.5s;
}
.horizontal-line{
    width: 51px;
    height: 2px;
    background-color: rgb(21, 130, 194);
    margin-left: 157px;
}
.serv2 .chart-logo{
    width: 82px;
    height: 82px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 143px;
    border-radius: 50%;
    box-shadow: 0 0 20px -10px blue;
    transition: 0.5s;
}
.serv3 .global-logo{
    width: 82px;
    height: 82px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 143px;
    border-radius: 50%;
    box-shadow: 0 0 20px -10px blue;
    transition: 0.5s;
}
.serv4 .hotspot-logo{
    width: 82px;
    height: 82px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 143px;
    border-radius: 50%;
    box-shadow: 0 0 20px -10px blue;
    transition: 0.5s;
}
.serv5 .sun-logo{
    width: 82px;
    height: 82px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 143px;
    border-radius: 50%;
    box-shadow: 0 0 20px -10px blue;
    transition: 0.5s;
}
.serv6 .calendor-logo{
    width: 82px;
    height: 82px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 143px;
    border-radius: 50%;
    box-shadow: 0 0 20px -10px blue;
    transition: 0.5s;
}
.icofont-ui-messaging{
    font-size: 38px;
    color: rgb(18, 182, 223);
}
.icofont-chart-flow-1{
    font-size: 38px;
    color: rgb(18, 182, 223);
}
.icofont-globe{
    font-size: 38px;
    color: rgb(18, 182, 223);
}
.icofont-ui-wifi{
    font-size: 38px;
    color: rgb(18, 182, 223);
}
.icofont-sun{
    font-size: 38px;
    color: rgb(18, 182, 223);
}
.icofont-ui-calendar{
    font-size: 38px;
    color: rgb(18, 182, 223);
}
.serv1,.serv2,.serv3,.serv4,.serv5,.serv6{
    text-align: center;
}
#services h2{
    color: rgb(63, 57, 57);
}
#services p{
    color: rgb(110, 98, 98);
}
.serv1:hover .mess-logo{
    box-shadow: 0 0 40px -10px blue;
    transition: 0.5s;
}
.serv2:hover .chart-logo{
    box-shadow: 0 0 40px -10px blue;
    transition: 0.5s;
}
.serv3:hover .global-logo {
    box-shadow: 0 0 40px -10px blue;
    transition: 0.5s;
}
.serv4:hover .hotspot-logo {
    box-shadow: 0 0 40px -10px blue;
    transition: 0.5s;
}
.serv5:hover .sun-logo{
    box-shadow: 0 0 40px -10px blue;
    transition: 0.5s;
}
.serv6:hover .calendor-logo {
    box-shadow: 0 0 40px -10px blue;
    transition: 0.5s;
}
/*PORTFOLIO*/
#our-portfolio{
    height: 1227px;
    background-color: #f5f9fc;
}
.header-port{
    height: 276px;
}
.four-button button{
    
    transition: 0.5s all 0s;
}
.four-button button:hover{
    background-color: #428bca;
    transition: 0.5s all 0s;
}
.portfolio-images{
    display: flex;
}
.port-img1,.port-img2,.port-img3{
    position: relative;
    width: 33.33%;
    height: 267px;
    overflow: hidden;
    border-radius: 5px;
}
.port-img1,.port-img2{
    margin-right: 25px;
}
.headset,.watch,.cooling-class{
    width: 100%;
    height: 267px;
}
.easy1{
    top: 25%;
    display: none;
    transform: scale(1);
    transform: translateY(0);
}
.easy011,.easy012,.easy013{
    opacity: 0;
} 


.port-img1:hover .easy1{
    display: block;
    transform: scale(1.1);
    transform: translateY(2ch);
    
}
.port-img2:hover .easy1{
    display: block;
    transform: scale(1.1);
    transform: translateY(2ch);
    
}
.port-img3:hover .easy1{
    display: block;
    transform: scale(1.1);
    transform: translateY(2ch);
    
}
.port-img1:hover .easy011{
    opacity: 1;
}
.port-img2:hover .easy012{
    opacity: 1;
}
.port-img3:hover .easy013{
    opacity: 1;
}

.s{
    background: rgba(0 0 0/0.4);
    width: 100%;
    height: 267px;
    display: none;
    transition: .5s all 0s;
}
.port-img1:hover .s{
    display: block;
    transition: .5s all 0s;
}
.port-img2:hover .s{
    display: block;
    transition: .5s all 0s;
}
.port-img3:hover .s{
    display: block;
    transition: .5s all 0s;
}
.headset,.watch,.cooling-class{
    transform: scale(1);
    transition: .5s all 0s;
}
.port-img1:hover .headset{
    transform: scale(1.1);
    transition: .5s all 0s;
}
.port-img2:hover .watch{
    transform: scale(1.1);
    transition: .5s all 0s;
}
.port-img3:hover .cooling-class{
    transform: scale(1.1);
    transition: .5s all 0s;
}
.port-img2:hover .blue-hover2{
    background-color: rgb(1, 161, 253); 
}

























    




    

    